@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "lalazar";
    src: url('../assets/fonts/Lalezar.ttf');
}
@font-face {
    font-family: "yakan";
    src: url('../assets/fonts/Yekan.ttf');
}
*{
    @apply p-0 m-0 box-border ;
}
body{
    @apply bg-[#141313] text-[#fff];
    font-family:' yakan';

}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
/* header */
.header{
    @apply bg-orange-400
}
.header nav{
    @apply flex justify-center text-[40px] text-black  py-5 px-0 ;
    font-family:'lalazar'
}
.hero-img{
@apply bg-[#141313] flex justify-center py-20 px-10
}
.hero-img img{
    max-width: 100%;
}
/* end header */
/* section one */
.text-one{
    @apply flex justify-end text-[35px] text-orange-400 p-5 mr-32 max-[679px]:flex max-[679px]:justify-center max-[679px]:mr-0
}
.katooni-item-col{
 @apply mx-5 ;
}
.katoni-container{
    @apply flex w-[80%] m-auto  max-[679px]:flex max-[679px]:flex-col
}
.katoni-card{
    @apply flex flex-col mx-5 max-[679px]:my-5 max-[679px]:w-[60%] max-[679px]:m-auto;
    border: 1px solid #b9b9b9;
    background: #232222;
    border-radius: 25px;
    color: #b9b9b9;
}
.card-header img{
    @apply w-[100%] h-auto;
    border-radius : 15px 15px 0 0;

}
.card-body{
    @apply p-3 text-right 
}
/* end section one */
/* footer */
.footer p{
    @apply flex justify-center bg-orange-400 text-center mt-10 p-5 text-[30px]
}
/* end of footer */
